div.swiper-button-prev,
div.swiper-button-next {
    width: 17px;
    height: 30px;
    color: #000;
    top: 516px;
    transform: scale(1.5);
}
div.swiper-button-prev {
    left: 80px;
}
div.swiper-button-next {
    right: 80px;
}

